<form class="form-horizontal" method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Login</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                <input type="text" name="username" ng-model="username"  class="input-xlarge" ng-required="true">
            </div>
            <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" ng-model="userpass" placeholder="" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" ng-click="onLogin()">Login</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

{{ statusMsg }}   {{ usrname }}