<table class="table">
    <thead>
        <th>
            Site name
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="site in sites | orderBy:'name'" class="{{site.id}}">
            <td>
                {{site.name}}
            </td>
            <td>
                {{site.type}}
            </td>
            <td>
                {{site.description}}
            </td>
        </tr>
    </tbody>
</table>
