<div class="panel" >
    <table class="table">
    <thead>
        <th>
            Site name
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="site in sites | orderBy:'name'" class="{{site.id}}">
            <td>
                <a href="#/site/{{ site.id }}">{{site.name}}</a>
            </td>
            <td>
                {{site.type}}
            </td>
            <td>
                {{site.description}}
            </td>
            <td><span class="badge">{{ site.toolCount }}</span></td>
        </tr>
    </tbody>
</table>

    <div class="panel-footer"><a href="#/logout">Logout</a></div>

</div>