<h3>Site {{site.name}}</h3>
<div class="panel" style="border: 2px solid black" width="40%">
    <div class="panel-heading">Tools</div>
<ul class="unstyled toolList" ng-controller="ToolsCtl" class="list-group">
    <li class="row {{tool.id}}-icon" ng-repeat="tool in tools" class="list-group-item">
        <div class="span11">
            <a href="#/tool/{{ tool.id }}">{{tool.title}} : {{tool.desc}}</a>
        </div>
        <div class="span1" style="float:right;;text-align:right;">
            <i class="icon-arrow-right"></i>
        </div>
    </li>
</ul>
    <div class="panel-footer"><a href="#/sites">Back</a></div>

</div>